[include]
    # Should include user.name, user.email, user.signingkey
	path = ~/.gitconfig.local

[alias]
	lg = log --graph --abbrev-commit --decorate --oneline --color
	c = commit
	m = merge

[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
