[include]
    # Should include user.name, user.email, user.signingkey
	path = ~/.gitconfig.local

[alias]
	lg = log --graph --abbrev-commit --decorate --oneline --color
	c = commit
	m = merge
	unstage = reset --

[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple

[diff]
  tool = bcomp
[difftool]
  prompt = false
[difftool "bcomp"]
  trustExitCode = true
  cmd = "/usr/bin/bcompare" \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = bcomp
[mergetool]
  prompt = false
[mergetool "bcomp"]
  trustExitCode = true
  cmd = "/usr/bin/bcompare" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
