[user]
	name = Sam Frances
	email = sam@samfrances.uk

[include]
	path = ~/.signing.gitconfig.inc

[alias]
	lg = log --graph --abbrev-commit --decorate --oneline --color
	c = commit
	m = merge

[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
